.HeaderCustomers {
    width: 100%;
   
    /* Adjusted padding for better spacing */

}

.HeaderCustomers .no-grid {
    grid-template-columns: none;
}

.TableCustomers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.add-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #218838;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    color: black;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

td {
    font-size: 14px;
}

.SpanCustomer {
    color: var(--pink);
}

.edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}



.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #c82333;
}

.dashboard-link {
    color: #333;
    text-decoration: none;
}

.dashboard-link:hover {
    text-decoration: none;
    color: var(--pink);
}

.edit2{
   text-align: center;
   
}

.delete2{
    text-align: center;
   
}

